/*structure de la page : position des sections*/
header
{
	display: flex;
	background-color:  #007a99;
	flex-wrap: wrap;
	align-items: center;
}
#container
{
    display: flex;
	 justify-content: space-around;
}
.titre
{
	background-color:  #007a99;
	flex: 1;
	color: white;
	
}
body 
{
	background-image: url("images/background.png");
	background-attachment: fixed;
}
footer
{
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	background-color:  #007a99;
}
/* mise en page des sections*/

#qui
{
    background-color:#ffffe6;
}
#aca
{
    background-color:  #007a99;
}
#cit
{
   background-color:  #007a99;
}
/* mise en page des titres*/
h1
{
	border-radius: 5px;
	background-color:  #007a99;
	text-align: center;
	font-size: 20em;
	color: white;
}


h2
{
	text-align: left;
	border-radius: 5px;
	color: #003399;
	background-color:  #99e6e6;
	font-size: 13em;
	text-align: center;
}
h3
{
color: #2eb8b8;
}

h3 em
{
	color: orange;
}


/* mise en page du texte*/

h1, h2, p
{font-family: Georgia, verdana, courier new, sans-serif;
}

ul, ol
{
color: white;
font-size: 0.5em;	
}

.date
{
color: #99e6e6;
}

p
{
	font-size: 1em;
	background-color: white;
	opacity: 0.9;
	border-radius: 7px;
	box-shadow: 6px 6px 0px #2F4F4F;
	padding: 12px; /* Marge intérieure de 12px */
}


/* décoration*/
.intro
{
	font-style: oblique;
}
.intro
{font-weight: bold;
}
.clignote
{
	text-decoration: overline;
}




/* faire flotter une image*/

.floatleft
{
	float: left;
}
.floatright
{
	float: right;
}
.dessous
{
	clear: both;
}

/* couleur fond*/





/* bordures*/

img
{
	border: 1px gray groove;
}






/* flexbox*/



