/*structure de la page : position des sections*/
nav
{
    float: left;
    width: 150px;
    border: 1px solid black;
}

section
{
    margin-left: 170px;
    border: 1px solid blue;
}
#video
{
    float: right;
    width: 150px;
    border: 1px solid black;
}
