ul, ol
{
color: gray;
}

h1
{
color: yellow;
}

h2, h3
{
color: green;
}

.étapes
{
color: blue;
}
.insecte
{
color: purple;
}
h3 em
{
	color: orange;
}
ul + p
{
	color: orange;
}

/* taille du texte test*/
p
{
	font-size: 1.2em;
}
h1
{
	font-size: 5em;
}

/*polices */

h1
{font-family: verdana, times, impact, sans-serif;
}
p
{font-family: Georgia, verdana, courier new, sans-serif;
}

@font-face { /* Définition d'une nouvelle police nommée CAC Champagne */
    font-family: 'cac_champagneregular';
    src: url('polices/cac_champagne-webfont.eot');
    src: url('polices/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/cac_champagne-webfont.woff') format('woff'),
         url('polices/cac_champagne-webfont.ttf') format('truetype'),
         url('polices/cac_champagne-webfont.svg#cac_champagneregular') format('svg');
}

h1 /* Utilisation de la police qu'on vient de définir sur les titres */
{
    font-family: 'cac_champagneregular', Arial, serif;
}
/* décoration*/
.intro
{
	font-style: oblique;
}
.intro
{font-weight: bold;
}
.clignote
{
	text-decoration: overline;
}
/* alignement*/

h1
{
	text-align: center;
}

h2
{
	text-align: center;
}

/* faire flotter une image*/

.imageflottante
{
	float: left;
}

.dessous
{
	clear: both;
}

/* couleur fond*/

body
{
	background-color: #ccccff
}

h1 
{
	background-image: url("images/dots.png");
	background-attachment: fixed;
}
p
{
	background-color: #B8860B;
	opacity: 0.7;
}

/* bordures*/

img
{
	border: 3px green groove;
}

p
{
	border: 2px blue dashed;
	border-radius: 7px;
}

/*ombre*/

p
{
	box-shadow: 6px 6px 0px #2F4F4F;

}

/*marge*/

p
{
    padding: 12px; /* Marge intérieure de 12px */
}

/* flexbox*/

header

{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}
.titre
{
	flex: 1
}
.qui
{
	background-color: green;
	align-self: flex-end; 

}


nav
{
	display: flex;
	flex-direction: column; 

}

#ingredients 
{
	display: flex;
}
footer
{
	display: flex;
	justify-content: space-between;
}
